<?xml version="1.0"?>
<!--Do Not Change No Need For Upload-->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="ConnectionStringDEV" value="Server=tcp:qkssriskserver.database.windows.net,1433;Database=test1;User ID=qkss@admin@qkssriskserver;Password=riskdesk#12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="ConnectionStringTEST" value="Server=tcp:qkssdev.database.windows.net,1433;Database=IONLogisticsUAT;User ID=qkssadmin@qkssdev;Password=G0gators;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="ConnectionStringSHELL" value="Server=tcp:qkssdev.database.windows.net,1433;Database=IONLogisticsShell;User ID=qkssadmin@qkssdev;Password=G0gators;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="ConnectionStringSHELL" value="Server=tcp:qkssdev.database.windows.net,1433;Database=IONLogisticsShell;User ID=qkssadmin@qkssdev;Password=G0gators;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key = "EmailUserName" value = "info@hooknline.net" />
    <add key = "EmailPSW" value = "Trombley#12" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=myaccount;AccountKey=mykey"/>-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=riskdeskstorage;AccountKey=?sv=2017-11-09&amp;ss=b&amp;srt=sco&amp;sp=rwlac&amp;se=2021-08-25T04:00:37Z&amp;st=2018-08-24T20:00:37Z&amp;spr=https&amp;sig=8oLl%2BMjWgoj%2FHgWFfdB8UOaes0K%2FZjmNwEvJd2stxMc%3D"/>
    <add key="SASKey" value="?sv=2017-11-09&amp;ss=b&amp;srt=sco&amp;sp=rwlac&amp;se=2021-08-25T04:00:37Z&amp;st=2018-08-24T20:00:37Z&amp;spr=https&amp;sig=8oLl%2BMjWgoj%2FHgWFfdB8UOaes0K%2FZjmNwEvJd2stxMc%3D" />
    <!--<add key="ConnectionString" value="Server=tcp:qkssdev.database.windows.net,1433;Database=IONLogisticsTest;User ID=qkssadmin@qkssdev;Password=G0gators;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--User ID=user name;Password=surround;-->
  </appSettings>
  <system.serviceModel>
    <!--Start Of Upload Changes-->
    
    <!--End Of Upload Changes-->
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="WCFWebRole.WCFWebService">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.IWCFWebService">
        </endpoint>
        <!--<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="WCFWebRole.IWCFWebService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>        
        <binding name="webBinding"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas  maxDepth="2147483647"

                         maxStringContentLength="2147483647"

                         maxArrayLength="2147483647"

                         maxBytesPerRead="2147483647"

                         maxNameTableCharCount="2147483647"/>          
          <security mode="None">            
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="webBindingHTTPS">          
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ServiceWebBindingName" transferMode="Streamed" maxReceivedMessageSize="2147483647" >
          <readerQuotas  maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>        
      </webHttpBinding>
    </bindings>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
