<?xml version="1.0" encoding="utf-8"?>
<!--Do Not Change No Need For Upload-->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
        <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FF3566526D9997186CC8575A55E1DCB61" validation="SHA1" validationKey="F3566526D9997186CC8575A55E1DCB61EBB6D8669DE62168764FF0DCE537184F0535D5D9AD66DEDCF3566526D9997186CC8575A55E1DCB61EBB6D86697DC1ABF" />
  </system.web>
  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="ConnectionStringDEV" value="Server=tcp:qkssriskserver.database.windows.net,1433;Database=VRDDev;User ID=qkss@admin@qkssriskserver;Password=riskdesk#12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="ConnectionStringVRD" value="Server=tcp:qkssriskserver.database.windows.net,1433;Database=VRDDev;User ID=qkss@admin@qkssriskserver;Password=riskdesk#12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="DockerStringVRD" value="vrddatafactory.southcentralus.azurecontainer.io:5000" />
    <add key="DockerStringDEV" value="localhost:5001" />
    <add key="ConnectionStringTest" value="Server=tcp:qkssriskserver.database.windows.net,1433;Database=dev2;User ID=sa;Password=riskdesk#12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="ConnectionStringLocalHost" value="Server=localhost;Database=dev2;User ID=sa;Password=G0gators;Trusted_Connection=False;Encrypt=False;Connection Timeout=30;" />    
    <add key="ConnectionStringSHELL" value="Server=tcp:qkssdev.database.windows.net,1433;Database=IONLogisticsShell;User ID=qkssadmin@qkssdev;Password=G0gators;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="ConnectionStringSHELL" value="Server=tcp:qkssdev.database.windows.net,1433;Database=IONLogisticsShell;User ID=qkssadmin@qkssdev;Password=G0gators;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="EmailUserName" value="info@hooknline.net" />
    <add key="EmailPSW" value="Trombley#12" />
    <add key="AzureAccountName" value="riskdeskstorage" />
    <add key="SASKey " value="?sv=2017-11-09&amp;ss=b&amp;srt=sco&amp;sp=rwdlac&amp;se=2018-09-03T00:27:10Z&amp;st=2018-09-02T16:27:10Z&amp;spr=https,http&amp;sig=G6VnxZVUlogyetZw2XLPF%2F9k2Kz0TyXEJ0GL46LVofQ%3D" />
    <add key="blobUri" value="https://riskdeskstorage.blob.core.windows.net" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=myaccount;AccountKey=mykey"/>-->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=riskdeskstorage;AccountKey=?sv=2017-11-09&amp;ss=b&amp;srt=sco&amp;sp=rwlac&amp;se=2021-08-25T04:00:37Z&amp;st=2018-08-24T20:00:37Z&amp;spr=https&amp;sig=8oLl%2BMjWgoj%2FHgWFfdB8UOaes0K%2FZjmNwEvJd2stxMc%3D" />
    <add key="SASKey" value="?sv=2017-11-09&amp;ss=b&amp;srt=sco&amp;sp=rwlac&amp;se=2021-08-25T04:00:37Z&amp;st=2018-08-24T20:00:37Z&amp;spr=https&amp;sig=8oLl%2BMjWgoj%2FHgWFfdB8UOaes0K%2FZjmNwEvJd2stxMc%3D" />-->
    <!--<add key="ConnectionString" value="Server=tcp:qkssdev.database.windows.net,1433;Database=IONLogisticsTest;User ID=qkssadmin@qkssdev;Password=G0gators;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--User ID=user name;Password=surround;-->
  </appSettings>
  <system.serviceModel>
    <!--Start Of Upload Changes-->
    
    <!--End Of Upload Changes-->
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="WCFWebRole.WCFWebService">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.IWCFWebService">
        </endpoint>
        <!--<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="WCFWebRole.IWCFWebService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="MyServiceBehaviorDeal" name="WCFWebRole.Deals">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.IDeals">
        </endpoint>
        <!--<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="WCFWebRole.IWCFWebService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Addition of Contract Information-->
      <service behaviorConfiguration="MyServiceBehaviorContracts" name="WCFWebRole.Contracts">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.IContracts">
        </endpoint>
        <!--<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="WCFWebRole.IWCFWebService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Addition of Contract Information-->
      <!--Addition of Customer Information-->
      <service behaviorConfiguration="MyServiceBehaviorCustomers" name="WCFWebRole.Customers">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.ICustomers">
        </endpoint>        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Addition of Customer Information-->
      <!--Addition of Curve Uploader Information-->
      <service behaviorConfiguration="MyServiceBehaviorCurveUploader" name="WCFWebRole.Services.CurveUploader">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.Services.ICurveUploader">
        </endpoint>
        <!--<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="WCFWebRole.IWCFWebService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Addition of Curve Uploader Information-->

      <!--Addition of SharedInfo Information-->
      <service behaviorConfiguration="MyServiceBehaviorSharedInfo" name="WCFWebRole.Services.SharedInfo">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.Services.ISharedInfo">
        </endpoint>
        <!--<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="WCFWebRole.IWCFWebService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Addition of SharedInfo Information-->



      <!--Addition of Facility Information-->
      <service behaviorConfiguration="MyServiceBehaviorFacility" name="WCFWebRole.Facility">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="WCFWebRole.IFacility">
        </endpoint>
        <!--<endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBindingHTTPS" contract="WCFWebRole.IWCFWebService"></endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Addition of Facility Information-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="MyServiceBehaviorDeal">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--Addition of Contract Information-->
        <behavior name="MyServiceBehaviorContracts">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--Addition of Contract Information-->
        <!--Addition of Customer Information-->
        <behavior name="MyServiceBehaviorCustomers">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--Addition of Customer Information-->        
        <!--Addition of Curve Uploader Information-->
        <behavior name="MyServiceBehaviorCurveUploader">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>        
        <!--Addition of Curve Uploader Information-->

        <!--Addition of SharedInfo Information-->
        <behavior name="MyServiceBehaviorSharedInfo">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--Addition of SharedInfor Information-->


        <!--Addition of Facility Information-->
        <behavior name="MyServiceBehaviorFacility">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--Addition of Facility Information-->
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>        
        <binding name="webBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />          
          <security mode="None">            
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="webBindingHTTPS">          
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ServiceWebBindingName" transferMode="Streamed" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>        
      </webHttpBinding>
    </bindings>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
